<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">FAQs & Testimonials</h1>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content">
  <div class="row">
    <div class="col-md-9">
      <!-- General Questions -->
      <div class="headline"><h2>General Questions</h2></div>
      <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        1. Put a bird on it squid single-origin coffee nulla?
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        2. Oliva pariatur cliche reprehenderit high life accusamus?
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                        <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                        <li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
                        <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        3. Enim eiusmod high life accusamus terry richardson?
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird.</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                        <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                        4. Livil anim keffiyeh helvetica craft beer labore wesde brunch?
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    Olif moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                        5. Leggings occaecat craft beer farmto tableraw denim?
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Keffiyeh anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                        <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                        <li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
                        <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                        <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                        <li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                        6. Keffiyeh anim keffiyeh helvetica craft beer labore wesse?
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    Helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Brunch sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                        7. Helvetica craft beer labore wes anderson cred nesciu ntlife richardson?
                    </a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                </div>
            </div>
        </div>
    </div><!--/acc-v1-->
    <!-- End General Questions -->

    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row">
            <!-- Begin Content -->
            <div class="col-md-9">
                <!--Testimonials v1-->
                <div class="heading heading-v1 margin-bottom-30">
                <h2><span class="color-green">Testimonials</span></h2>
                </div>
                <div class="margin-bottom-40">
                    <div id="testimonials-1" class="carousel slide testimonials testimonials-v1">
                        <div class="carousel-inner">
                            <div class="item active">
                                <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                                <div class="testimonial-info">
                                    <img class="rounded-x" src="assets/img/testimonials/img1.jpg" alt="">
                                    <span class="testimonial-author">
                                        Jeremy Asigner
                                        <em>Web Developer, Unify Theme.</em>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                                <div class="testimonial-info">
                                    <img class="rounded-x" src="assets/img/testimonials/user.jpg" alt="">
                                    <span class="testimonial-author">
                                        User
                                        <em>Java Developer, Htmlstream</em>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                                <div class="testimonial-info">
                                    <img class="rounded-x" src="assets/img/testimonials/img2.jpg" alt="">
                                    <span class="testimonial-author">
                                        Kate Davenport
                                        <em>Web Designer, Google Inc.</em>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-arrow">
                            <a class="left carousel-control" href="#testimonials-1" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right carousel-control" href="#testimonials-1" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div id="testimonials-6" class="carousel slide testimonials testimonials-v1">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                                    <div class="testimonial-info">
                                        <img src="assets/img/testimonials/user.jpg" alt="">
                                        <span class="testimonial-author">
                                            Jeremy Asigner
                                            <em>Web Developer, Unify Theme.</em>
                                        </span>
                                    </div>
                                </div>
                                <div class="item">
                                    <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                                    <div class="testimonial-info">
                                        <img src="assets/img/testimonials/img1.jpg" alt="">
                                        <span class="testimonial-author">
                                            User
                                            <em>Java Developer, Htmlstream</em>
                                        </span>
                                    </div>
                                </div>
                                <div class="item">
                                    <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                                    <div class="testimonial-info">
                                        <img src="assets/img/testimonials/img2.jpg" alt="">
                                        <span class="testimonial-author">
                                            Kate Davenport
                                            <em>Web Designer, Google Inc.</em>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-arrow">
                                <a class="left carousel-control" href="#testimonials-6" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="right carousel-control" href="#testimonials-6" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="testimonials-7" class="carousel slide testimonials testimonials-v1 testimonials-bg-dark">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                                    <div class="testimonial-info">
                                        <img class="rounded-x" src="assets/img/testimonials/img1.jpg" alt="">
                                        <span class="testimonial-author">
                                            Jeremy Asigner
                                            <em>Web Developer, Unify Theme.</em>
                                        </span>
                                    </div>
                                </div>
                                <div class="item">
                                    <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                                    <div class="testimonial-info">
                                        <img class="rounded-x" src="assets/img/testimonials/user.jpg" alt="">
                                        <span class="testimonial-author">
                                            User
                                            <em>Java Developer, Htmlstream</em>
                                        </span>
                                    </div>
                                </div>
                                <div class="item">
                                    <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                                    <div class="testimonial-info">
                                        <img class="rounded-x" src="assets/img/testimonials/img2.jpg" alt="">
                                        <span class="testimonial-author">
                                            Kate Davenport
                                            <em>Web Designer, Google Inc.</em>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-arrow">
                                <a class="left carousel-control" href="#testimonials-7" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="right carousel-control" href="#testimonials-7" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Testimonials v1-->

                <hr class="margin-bottom-40">

                <!--Testimonials v2-->
                <div class="row margin-bottom-40">
                    <div class="col-md-4">
                        <div id="testimonials-9" class="carousel slide testimonials testimonials-v2 testimonials-bg-default">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <p>Dignissimos similique sunt in ducimus qui blanditiis praesentium voluptatum delvoe molestias..</p>
                                    <div class="testimonial-info">
                                        <span class="testimonial-author">
                                            Jeremy Asigner
                                            <em>Web Developer, Unify Theme.</em>
                                        </span>
                                    </div>
                                </div>
                                <div class="item">
                                    <p>Dignissimos similique sunt in ducimus qui blanditiis praesentium voluptatum delvoe molestias..</p>
                                    <div class="testimonial-info">
                                        <span class="testimonial-author">
                                            User
                                            <em>Java Developer, Htmlstream</em>
                                        </span>
                                    </div>
                                </div>
                                <div class="item">
                                    <p>Dignissimos similique sunt in ducimus qui blanditiis praesentium voluptatum delvoe molestias..</p>
                                    <div class="testimonial-info">
                                        <span class="testimonial-author">
                                            Kate Davenport
                                            <em>Web Designer, Google Inc.</em>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div id="testimonials-8" class="carousel slide testimonials testimonials-v2">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <p>Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpaid est praesentium..</p>
                                    <div class="testimonial-info">
                                        <span class="testimonial-author">
                                            Jeremy Asigner
                                            <em>Web Developer, Unify Theme.</em>
                                        </span>
                                    </div>
                                </div>
                                <div class="item">
                                    <p>Cras justo odio, dapibus ac facilisis into egestas. Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupidinon..</p>
                                    <div class="testimonial-info">
                                        <span class="testimonial-author">
                                            Bootstrap :)
                                            <em>Java Developer, Htmlstream</em>
                                        </span>
                                    </div>
                                </div>
                                <div class="item">
                                    <p>Justo odioDignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique facilisis into egestas.</p>
                                    <div class="testimonial-info">
                                        <span class="testimonial-author">
                                            Kate Davenport
                                            <em>Web Designer, Google Inc.</em>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-arrow">
                                <a class="left carousel-control" href="#testimonials-8" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="right carousel-control" href="#testimonials-8" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Testimonials v2-->

                <hr class="margin-bottom-40">

                <!--Testimonials Rounded-->
                <div class="row margin-bottom-40">
                    <div class="col-md-6">
                        <div id="testimonials-2" class="carousel slide testimonials testimonials-v1">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <p class="rounded">Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpaid est praesentium..</p>
                                    <div class="testimonial-info">
                                        <img class="rounded-x" src="assets/img/testimonials/user.jpg" alt="">
                                        <span class="testimonial-author">
                                            Jeremy Asigner
                                            <em>Web Developer, Unify Theme.</em>
                                        </span>
                                    </div>
                                </div>
                                <div class="item">
                                    <p class="rounded">Cras justo odio, dapibus ac facilisis into egestas. Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupidinon..</p>
                                    <div class="testimonial-info">
                                        <img class="rounded-x" src="assets/img/testimonials/img1.jpg" alt="">
                                        <span class="testimonial-author">
                                            User
                                            <em>Java Developer, Htmlstream</em>
                                        </span>
                                    </div>
                                </div>
                                <div class="item">
                                    <p class="rounded">Justo odioDignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique facilisis into egestas.</p>
                                    <div class="testimonial-info">
                                        <img class="rounded-x" src="assets/img/testimonials/img2.jpg" alt="">
                                        <span class="testimonial-author">
                                            Kate Davenport
                                            <em>Web Designer, Google Inc.</em>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-arrow">
                                <a class="left carousel-control" href="#testimonials-2" data-slide="prev">
                                    <i class="fa fa-angle-left rounded-x"></i>
                                </a>
                                <a class="right carousel-control" href="#testimonials-2" data-slide="next">
                                    <i class="fa fa-angle-right rounded-x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="testimonials-3" class="carousel slide testimonials testimonials-v1 testimonials-bg-dark">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <p class="rounded-2x">Ducimusqui ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, sunt in culpaid delvoe molestias..</p>
                                    <div class="testimonial-info">
                                        <img class="rounded-2x" src="assets/img/testimonials/img2.jpg" alt="">
                                        <span class="testimonial-author">
                                            Jeremy Asigner
                                            <em>Web Developer, Unify Theme.</em>
                                        </span>
                                    </div>
                                </div>
                                <div class="item">
                                    <p class="rounded-2x">Ducimusqui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, sunt in culpaid delvoe molestias..</p>
                                    <div class="testimonial-info">
                                        <img class="rounded-2x" src="assets/img/testimonials/img1.jpg" alt="">
                                        <span class="testimonial-author">
                                            User
                                            <em>Java Developer, Htmlstream</em>
                                        </span>
                                    </div>
                                </div>
                                <div class="item">
                                    <p class="rounded-2x">Ducimusqui ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, sunt in culpaid delvoe molestias..</p>
                                    <div class="testimonial-info">
                                        <img class="rounded-2x" src="assets/img/testimonials/user.jpg" alt="">
                                        <span class="testimonial-author">
                                            Kate Davenport
                                            <em>Web Designer, Google Inc.</em>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-arrow">
                                <a class="left carousel-control" href="#testimonials-3" data-slide="prev">
                                    <i class="fa fa-angle-left rounded"></i>
                                </a>
                                <a class="right carousel-control" href="#testimonials-3" data-slide="next">
                                    <i class="fa fa-angle-right rounded"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Testimonials Rounded-->

                <hr class="margin-bottom-40">

                <!--Testimonials Rounded-->
                <div class="row margin-bottom-40">
                    <div class="col-md-8">
                        <div id="testimonials-4" class="carousel slide testimonials testimonials-v2 testimonials-bg-default">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <p class="rounded-3x">Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpaid est praesentium..</p>
                                    <div class="testimonial-info">
                                        <span class="testimonial-author">
                                            Jeremy Asigner
                                            <em>Web Developer, Unify Theme.</em>
                                        </span>
                                    </div>
                                </div>
                                <div class="item">
                                    <p class="rounded-3x">Cras justo odio, dapibus ac facilisis into egestas. Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupidinon..</p>
                                    <div class="testimonial-info">
                                        <span class="testimonial-author">
                                            Bootstrap :)
                                            <em>Java Developer, Htmlstream</em>
                                        </span>
                                    </div>
                                </div>
                                <div class="item">
                                    <p class="rounded-3x">Justo odioDignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique facilisis into egestas.</p>
                                    <div class="testimonial-info">
                                        <span class="testimonial-author">
                                            Kate Davenport
                                            <em>Web Designer, Google Inc.</em>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-arrow">
                                <a class="left carousel-control" href="#testimonials-4" data-slide="prev">
                                    <i class="fa fa-angle-left rounded-x"></i>
                                </a>
                                <a class="right carousel-control" href="#testimonials-4" data-slide="next">
                                    <i class="fa fa-angle-right rounded-x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="testimonials-5" class="carousel slide testimonials testimonials-v2">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <p class="rounded-4x">Dignissimos similique sunt in ducimus qui blanditiis praesentium voluptatum delvoe molestias..</p>
                                    <div class="testimonial-info">
                                        <span class="testimonial-author">
                                            Jeremy Asigner
                                            <em>Web Developer, Unify Theme.</em>
                                        </span>
                                    </div>
                                </div>
                                <div class="item">
                                    <p class="rounded-4x">Dignissimos similique sunt in ducimus qui blanditiis praesentium voluptatum delvoe molestias..</p>
                                    <div class="testimonial-info">
                                        <span class="testimonial-author">
                                            User
                                            <em>Java Developer, Htmlstream</em>
                                        </span>
                                    </div>
                                </div>
                                <div class="item">
                                    <p class="rounded-4x">Dignissimos similique sunt in ducimus qui blanditiis praesentium voluptatum delvoe molestias..</p>
                                    <div class="testimonial-info">
                                        <span class="testimonial-author">
                                            Kate Davenport
                                            <em>Web Designer, Google Inc.</em>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Testimonials Rounded-->
            </div>
            <!-- End Content -->
        </div>
    </div><!--/container-->
    <!--=== End Content Part ===-->
</div><!--/col-md-9-->

<div class="col-md-3">
  <%= render "layouts/contactbar" %>

  <!-- Social -->
  <div class="magazine-sb-social margin-bottom-20">
    <div class="headline headline-md"><h2>Check Us Out</h2></div>
    <ul class="social-icons social-icons-color">
        <li><a href="#" data-original-title="Feed" class="social_rss wow rollIn"></a></li>
        <li><a href="https://www.facebook.com/Spartanstrengthandpower"data-original-title="Facebook" class="social_facebook wow rollIn"></a></li>
        <li><a href="#" data-original-title="Twitter" class="social_twitter wow rollIn"></a></li>
        <li><a href="#" data-original-title="Vimeo" class="social_vimeo wow rollIn"></a></li>
        <li><a href="#" data-original-title="Goole Plus" class="social_googleplus wow rollIn"></a></li>
        <li><a href="#" data-original-title="Pinterest" class="social_youtube wow rollIn"></a></li>
        <li><a href="#" data-original-title="Linkedin" class="social_linkedin wow rollIn"></a></li>
        <li><a href="#" data-original-title="Dropbox" class="social_dropbox wow rollIn"></a></li>
        <li><a href="#" data-original-title="Picasa" class="social_picasa wow rollIn"></a></li>
        <li><a href="#" data-original-title="Spotify" class="social_spotify wow rollIn"></a></li>
        <li><a href="#" data-original-title="Jolicloud" class="social_jolicloud wow rollIn"></a></li>
        <li><a href="#" data-original-title="Wordpress" class="social_wordpress wow rollIn"></a></li>
        <li><a href="#" data-original-title="Github" class="social_github wow rollIn"></a></li>
        <li><a href="#" data-original-title="Xing" class="social_xing wow rollIn"></a></li>
    </ul>
    <div class="clearfix"></div>
</div>
<!-- End Social -->
</div><!--/col-md-3-->
</div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
