<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">FAQs & Testimonials</h1>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content">
  <div class="row">
    <div class="col-md-9">
      <!-- General Questions -->
      <div class="headline"><h2>General Questions</h2></div>
      <div class="panel-group acc-v1 margin-bottom-40 wow flipInY" id="accordion">
        <div class="panel panel-default lead">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        1. Are there free trials or consultations to see if there is a fit first?
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                One on One will be allowed 1 free session before committing, Cycles will have two free community session free prior to the start of each cycle.
                </div>
            </div>
        </div>

        <div class="panel panel-default lead">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        2. Do you have to be a wrestler to be in a cycle?
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>  Only for wrestling specific cycles, however we have cycles for all types of athletes and sports</p>
                 <!--    <ul class="list-unstyled">
                        <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                        <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                        <li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
                        <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                    </ul> -->
                </div>
            </div>
        </div>

        <div class="panel panel-default lead" >
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        3. How will the cycle sessions be structured?
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <p> We will keep the coach to athlete ratio low to maximize quality of cycle. Cycles will be structured based upon type of sport and the needs of the athletes. More information will be provided upon request</p>
                  <!--   <ul class="list-unstyled">
                        <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                        <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                    </ul> -->
                </div>
            </div>
        </div>

        <div class="panel panel-default lead" >
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                        4. Why not just train at the high school instead of Spartan Strength and Power?
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                     At a high school the volume of students to coaches is very high, the coaches that are generally in the school systems are teachers first and then coaches second. Here at Spartan Strength and Power we are geared towards the athletes needs first and foremost.
                </div>
            </div>
        </div>

        <div class="panel panel-default lead" >
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                        5. Are parents allowed at practice?
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>There will be open practices for parents and spectators to watch the sessions, however on a regular basis it will be closed practices</p>
                 <!--    <ul class="list-unstyled">
                        <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                        <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                        <li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
                        <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                        <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                        <li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
                    </ul> -->
                </div>
            </div>
        </div>

        <div class="panel panel-default lead" >
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                        6. Why are there year round programs? Isn’t that bad to workout year round?
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                     No, it is misconception that working out year round will do harm to the development of athletes and the hinder their progress. Our structured cycles will be set-up with a series of phases within the program that will help the athlete actively recover properly.
                </div>
            </div>
        </div>

        <div class="panel panel-default lead" >
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                        7. Are the coaches all certified or qualified to coach and train athletes?
                    </a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                     Absolutely! Our coaching staff is carefully selected based upon the needs of the development of the program and the coach’s must possess requirements to fulfill cycles effectively.
                </div>
            </div>
        </div>
    </div><!--/acc-v1-->
    <!-- End General Questions -->

    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row">
            <!-- Begin Content -->
            <div class="col-md-9">
                <!--Testimonials v1-->
                <div class="heading heading-v1 margin-bottom-30">
                <h2><span class="color-green">Testimonials</span></h2>
                </div>
                <div class="margin-bottom-40">
                    <div id="testimonials-1" class="carousel slide testimonials testimonials-v1">
                        <div class="carousel-inner">
                            <div class="item active">
                                <p>"I feel that the Off Season Success Cycle has improved both my physical and mental aspects. Even though it has only been three weeks, I am looking forward to continuing the program and seeing the results wh"en the next wrestling season begins!"</p>
                                <div class="testimonial-info">
                                    <img class="rounded-x" src="assets/img/testimonials/img1.jpg" alt="">
                                    <span class="testimonial-author">
                                        Luis Arguello
                                        <em>Student-Athlete, Spartan Program Member</em>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <p>"So far the Off Season Success Cycle has taught me the importance of staying committed to bettering myself when season has ended. Not only have I learned new wrestling skills and proper weightlifting form but I have also learned mental strategies that will give me an edge on and off the mat. I can already feel a difference in my mental state when faced with a challenge and know I will be a force to be reckoned with once I have completed the Off Season Success Cycle."</p>
                                <div class="testimonial-info">
                                    <img class="rounded-x" src="assets/img/testimonials/user.jpg" alt="">
                                    <span class="testimonial-author">
                                        Max Sorich
                                        <em>Student-Athlete, Spartan Program Member</em>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <p>"Mitch does an excellent job making beginner athletes feel confident in their abilities and potential. He is an exceptionally patient coach while still pushing his athletes to make progress towards their maximum strength goals. Every lifter that I've watched begin to work with Mitch, both novice and intermediate, quickly hits a personal record while maintaining better form than they previously had. Anyone looking to improve their Olympic lifts would benefit from Mitch's coaching and programming."</p>
                                <div class="testimonial-info">
                                    <img class="rounded-x" src="assets/img/testimonials/user.jpg" alt="">
                                    <span class="testimonial-author">
                                       Carmen Arena
                                        <em>Olympic-Lifiting Enthusiast, Spartan Personal Training Client</em>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-arrow">
                            <a class="left carousel-control" href="#testimonials-1" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right carousel-control" href="#testimonials-1" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--End Testimonials v1-->
            </div>
            <!-- End Content -->
        </div>
    </div><!--/container-->
    <!--=== End Content Part ===-->
</div><!--/col-md-9-->

<div class="col-md-3">
  <%= render "layouts/contactbar" %>

  <!-- Social -->
  <div class="magazine-sb-social margin-bottom-20">
    <div class="headline headline-md"><h2>Check Us Out</h2></div>
    <ul class="social-icons social-icons-color">
        <li><a href="#" data-original-title="Feed" class="social_rss wow rollIn"></a></li>
        <li><a href="https://www.facebook.com/Spartanstrengthandpower"data-original-title="Facebook" class="social_facebook wow rollIn"></a></li>
        <li><a href="#" data-original-title="Twitter" class="social_twitter wow rollIn"></a></li>
        <li><a href="#" data-original-title="Vimeo" class="social_vimeo wow rollIn"></a></li>
        <li><a href="#" data-original-title="Goole Plus" class="social_googleplus wow rollIn"></a></li>
        <li><a href="https://www.youtube.com/channel/UCIpHENfOfJMqwy1qE8BsyLg" data-original-title="Youtube" class="social_youtube wow rollIn"></a></li>
        <li><a href="#" data-original-title="Linkedin" class="social_linkedin wow rollIn"></a></li>
        <li><a href="#" data-original-title="Dropbox" class="social_dropbox wow rollIn"></a></li>
        <li><a href="#" data-original-title="Picasa" class="social_picasa wow rollIn"></a></li>
        <li><a href="#" data-original-title="Spotify" class="social_spotify wow rollIn"></a></li>
        <li><a href="#" data-original-title="Jolicloud" class="social_jolicloud wow rollIn"></a></li>
        <li><a href="#" data-original-title="Wordpress" class="social_wordpress wow rollIn"></a></li>
        <li><a href="#" data-original-title="Github" class="social_github wow rollIn"></a></li>
        <li><a href="#" data-original-title="Xing" class="social_xing wow rollIn"></a></li>
    </ul>
    <div class="clearfix"></div>
</div>
<!-- End Social -->
</div><!--/col-md-3-->
</div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->

<script type="text/javascript">
    jQuery(document).ready(function() {
        new WOW().init();
    });
</script>
