<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>A UNIQUE</i> <br /> <i>ATHLETE FOCUSED</i> <br /> <i>PROGRAM</i></h2>
            <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
            <div class="da-img"> <iframe src="https://www.youtube.com/embed/SfD84abizO4" width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
        </div>
        <div class="da-slide">
            <h2><i>RESPONSIVE VIDEO</i> <br /> <i>SUPPORT AND</i> <br /> <i>MANY MORE</i></h2>
            <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i></p>
            <div class="da-img">
                <img class="img-responsive" src="assets/plugins/parallax-slider/img/1.png" alt="">
            </div>
        </div>
        <div class="da-slide">
            <h2><i>USING BEST WEB</i> <br /> <i>SOLUTIONS WITH</i> <br /> <i>HTML5/CSS3</i></h2>
            <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
            <div class="da-img"><img src="assets/plugins/parallax-slider/img/html5andcss3.png" alt="image01" /></div>
        </div>
        <div class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </div>
    </div>
</div><!--/slider-->
<!--=== End Slider ===-->

<!--=== Purchase Block ===-->
<div class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-md-9 animated fadeInLeft">
                <span>An Intensive Physical Training, Wrestling, and Weightlifting Program </span>
                <p>Strength and conditioning company. Focused on improving athletic performance</p><p>using efficient, safe training techniques and proper programming.</p>
            </div>
            <div class="col-md-3 btn-buy animated fadeInRight">
                <%= link_to programs_url, :class=> "btn-u btn-u-lg", id: "buy" do %>
                <i class="fa fa-cart-plus"></i>
                Buy A Membership Now
                <% end %>
            </div>
        </div>
    </div>
</div><!--/row-->
<!-- End Purchase Block -->
<!--=== Content Part ===-->
<div class="container content-sm">
 <!-- Service Blocks -->
 <div class="row margin-bottom-30">
     <div class="col-md-3">
      <div class="service">
        <i class="fa fa-compress service-icon"></i>
        <div class="desc">
            <h4>Physical Training</h4>
            <p>These sessions will be geared towards developing a Physical Fitness regiment that will seek to meet Fitness Goals.</p>
        </div>
    </div>
</div>
<div class="col-md-3">
  <div class="service">
    <i class="fa fa-cogs service-icon"></i>
    <div class="desc">
        <h4>Wrestling</h4>
        <p>Our wrestling practices are geared towards putting fine detailed technique under a microscope, and breaking them down for each student individually.</p>
    </div>
</div>
</div>
<div class="col-md-3">
  <div class="service">
    <i class="fa fa-rocket service-icon"></i>
    <div class="desc">
        <h4>Weightlifting</h4>
        <p>The structure of these sessions will implement the of development of Strength, Agility and Flexiblity in each Athlete </p>
    </div>
</div>
</div>
<div class="col-md-3">
  <div class="service">
    <i class="fa fa-plug service-icon"></i>
    <div class="desc">
        <h4>Sports Psychology</h4>
        <p>The goal of these practices is to create a strong mental competitive edge for the athlete. We will be implementing Self­Talk and Confidence building programs.</p>
    </div>
</div>
</div>
</div>
<!-- End Service Blokcs -->

<!-- Recent Works -->
<div class="headline"><h2>Recent Works</h2></div>
<div class="row margin-bottom-20">
    <div class="col-md-3 col-sm-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
         <div class="thumbnail-img">
            <div class="overflow-hidden">
                <img class="img-responsive" src="assets/img/main/img1.jpg" alt="">
            </div>
            <a class="btn-more hover-effect" href="#">read more +</a>
        </div>
        <div class="caption">
            <h3><a class="hover-effect" href="#">Project One</a></h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-6">
    <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
            <div class="overflow-hidden">
                <img class="img-responsive" src="assets/img/main/img12.jpg" alt="">
            </div>
            <a class="btn-more hover-effect" href="#">read more +</a>
        </div>
        <div class="caption">
            <h3><a class="hover-effect" href="#">Project Two</a></h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-6">
    <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
            <div class="overflow-hidden">
                <img class="img-responsive" src="assets/img/main/img3.jpg" alt="">
            </div>
            <a class="btn-more hover-effect" href="#">read more +</a>
        </div>
        <div class="caption">
            <h3><a class="hover-effect" href="#">Project Three</a></h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-6">
    <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
            <div class="overflow-hidden">
                <img class="img-responsive" src="assets/img/main/img17.jpg" alt="">
            </div>
            <a class="btn-more hover-effect" href="#">read more +</a>
        </div>
        <div class="caption">
            <h3><a class="hover-effect" href="#">Project Four</a></h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
        </div>
    </div>
</div>
</div>
<!-- End Recent Works -->

<!-- Info Blokcs -->
<div class="row margin-bottom-30">
 <!-- Welcome Block -->
 <div class="col-md-8 md-margin-bottom-40">
   <div class="headline"><h2>Join Spartan Strength And Power</h2></div>
   <div class="row">
    <div class="col-sm-4">
        <img class="img-responsive margin-bottom-20" src="assets/img/main/img18.jpg" alt="">
    </div>
    <div class="col-sm-8">
        <p>People Who Join Our Program Are Looking To:</p>
        <ul class="list-unstyled margin-bottom-20">
            <li><i class="fa fa-check color-green"></i> Increase Competitive Edge</li>
            <li><i class="fa fa-check color-green"></i> Increase Overall Athleticism</li>
            <li><i class="fa fa-check color-green"></i> Increase Overall Fitness </li>
            <li><i class="fa fa-check color-green"></i> Break Physical and Mental Boundaries</li>
        </ul>
    </div>
</div>

<blockquote class="hero-unify">
    <p>"My goal is to give every athlete the tools necessary to achieve success in all aspects of life."  </p>
    <small>Co-Owner & Coach Mitch Policky</small>
</blockquote>
</div><!--/col-md-8-->

<!-- Latest Shots -->
<div class="col-md-4">
   <div class="headline"><h2>Latest Shots</h2></div>
   <div id="myCarousel" class="carousel slide carousel-v1">
    <div class="carousel-inner">
        <div class="item active">
            <img src="assets/img/main/img4.jpg" alt="">
            <div class="carousel-caption">
                <p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
            </div>
        </div>
        <div class="item">
            <iframe src="https://www.youtube.com/embed/UQfDk9zbLJo" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            <div class="carousel-caption">
                <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
            </div>
        </div>
        <div class="item">
            <img src="assets/img/main/img24.jpg" alt="">
            <div class="carousel-caption">
                <p>Justo cras odio apibus ac afilisis lingestas de.</p>
            </div>
        </div>
    </div>

    <div class="carousel-arrow">
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
</div><!--/col-md-4-->
</div>
<!-- End Info Blokcs -->

<!-- Owl Clients v1 -->
<div class="headline"><h2>Our Sponsors</h2></div>
<div class="owl-clients-v1">
    <div class="item">
        <img src="assets/img/clients4/1.png" alt="">
    </div>
    <div class="item">
        <img src="assets/img/clients4/2.png" alt="">
    </div>
    <div class="item">
        <img src="assets/img/clients4/3.png" alt="">
    </div>
    <div class="item">
        <img src="assets/img/clients4/4.png" alt="">
    </div>
    <div class="item">
        <img src="assets/img/clients4/5.png" alt="">
    </div>
    <div class="item">
        <img src="assets/img/clients4/6.png" alt="">
    </div>
    <div class="item">
        <img src="assets/img/clients4/7.png" alt="">
    </div>
    <div class="item">
        <img src="assets/img/clients4/8.png" alt="">
    </div>
    <div class="item">
        <img src="assets/img/clients4/9.png" alt="">
    </div>
</div>
<!-- End Owl Clients v1 -->
</div><!--/container-->
<!-- End Content Part -->

 <!-- JS Global Compulsory -->
<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="assets/plugins/smoothScroll.js"></script>
<script type="text/javascript" src="assets/plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
<script type="text/javascript" src="assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript" src="assets/js/plugins/owl-carousel.js"></script>
<script type="text/javascript" src="assets/js/plugins/parallax-slider.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        OwlCarousel.initOwlCarousel();
        ParallaxSlider.initParallaxSlider();
    });
</script>

