<blockquote class="hero">
  <p class="lead"><em><%= @program.description %></em></p>
</blockquote>

<%#= @program.price %>


  <!-- <div class="field">
    <%#= f.label :program_id %><br>
    <%#= f.text_field :program_id %>
  </div>
 -->
