<blockquote class="hero">
  <p class="lead"><em><%= @program.description %></em></p>
</blockquote>


<form action="<%= program_memberships_path %>" method="POST" class="text-center">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_NF4qazGnoW4Z8FLm2HMhDCrQ"
    data-image="/assets/img/logo2-default.png"
    data-name="Spartan Strength And Power"
    data-description="<%= @program.name %>"
    data-amount="<%= @program.price*100%> ">
  </script>
</form>

