<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
  <div class="container">
   <br>
    <h1 class="pull-left">Spartan Strength And Power Blog</h1>
     <ul class="pull-right breadcrumb">
           <li><%= awesome_share_buttons("Check Out Spartan Strength And Power") %></li>
        </ul>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content">
  <div class="row blog-page">
    <!-- Left Sidebar -->
    <div class="col-md-9">
      <%= render 'blog' %>

      <!--Pagination-->
      <div class="text-center">
      <%= paginate @blogs %>
      </div>
      <!--End Pagination-->

    </div>
    <!-- End Left Sidebar -->
<!-- Right Sidebar -->

<%= render "blogs/sidebar" %>

<!-- End Right Sidebar -->

  </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->



