<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">The Spartan Programs</h1>
        <ul class="pull-right breadcrumb">
            <% if current_user.present? %>
            <li>Pick A Program That Best Fits Your Needs!</li>
            <% else %>
            <li><%= link_to "Register Or Login To Pay and Join!", new_user_registration_url %></li>
            <% end %>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content">

    <%= render "programs" %>

</div><!--/container-->
<!--=== End Content Part ===-->

