// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img-responsive {
 display: block;
 height: auto;
 width: 844px;
 max-width: 100%;
}
