<!-- Contacts -->
<div class="headline wow fadeInUp"><h2>Contacts</h2></div>
<ul class="list-unstyled who margin-bottom-30 wow flipInY">
  <li><a href="#"><i class="fa fa-envelope"></i>spartanstrengthandpower@gmail.com</a></li>
  <li><a href="#"><i class="fa fa-phone"></i>1(630) 336 2435 </a></li>
</ul>

<!-- Business Hours -->
<div class="headline wow fadeInUp"><h2>Business Hours</h2></div>
<ul class="list-unstyled margin-bottom-30 wow flipInY">
  <li><strong>Mon-Tues-Fri:</strong> 4:30pm to 5:30pm</li>
  <li><strong>Saturday:</strong> 11am to 3pm</li>
  <li><strong>Sunday:</strong> 11am to Midnight</li>
</ul>

<!-- Info Block -->
<div class="headline wow fadeInUp"><h2>Why we are?</h2></div>
<p class="wow fadeInUp">Spartan Strength And Power Is Built For Athlete's Who Want To:</p>
<ul class="list-unstyled margin-bottom-30 wow flipInY">
 <li><i class="fa fa-check color-green"></i> Increase Competitive Edge</li>
 <li><i class="fa fa-check color-green"></i> Increase Overall Athleticism</li>
 <li><i class="fa fa-check color-green"></i> Increase Overall Fitness </li>
 <li><i class="fa fa-check color-green"></i> Break Physical and Mental Boundaries</li>
</ul>
<!-- End Info Block -->
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        new WOW().init();
    });
</script>
